.stores {
  padding-block: 4rem;
}

.title-container {
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  margin-bottom: 5rem;
  row-gap: -22px !important;
}

.store-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--three-color);
  filter: drop-shadow(1px 0 0 var(--first-color));
  -webkit-filter: drop-shadow(1px 0 0 var(--first-color));
}

.line {
  position: absolute;
  width: 65%;
  top: 30px;
}

.stores-container {
  display: grid !important;
  grid-template-columns: repeat(1, 1fr) !important;
  justify-content: center !important;
  align-self: center !important;
  column-gap: 1rem !important;
  row-gap: 5rem !important;
}

.store {
  width: 100%;
  height: 100%;
}

.NoStore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 500;
  color: var(--three-color);
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (min-width: 576px) {
  .stores-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .line {
    width: 40% !important;
  }
}

@media screen and (min-width: 992px) {
  .stores-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .line {
    width: 25% !important;
  }
}

@media screen and (min-width: 1200px) {
  .stores-container {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .line {
    width: 18% !important;
  }
}
