.categories-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
}

.categories{
  padding: 10px;
  width:350px;
  height: 420px;
  background-color: #f0f0f0;
  border-radius: 8px;
  /* overflow: hidden; */
  box-shadow: 0px, 2px, 4px, rgba(0,0,0,0.2);
  margin: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.selectLabel{
    margin-top: 1rem;
    padding-top: 10px;
    font-size: large;
    font-weight: 900;
}
.select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    gap: 1px;
  }
  
  .select__item {
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    border-radius: 3px;
    background: #eeeeee;
    transition: background 0.1s;
  }

  .option{
    border-color: #edb74f;
    color: #edb74f;
    background-color: #fff;
    transition: all 0.3s ease;
}
  .select__item--selected {
    background: #edb74f;
    color: #ffffff;
  }


