@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,200;1,100;1,300;1,400;1,500;1,700;1,800&display=swap");

:root {
  /* color */
  --first-color: #d39469;
  --second-color: #ffbb8d;
  --three-color: #206178;
  --light-three-color: rgba(37, 113, 141, 0.168);
  --light-first-color: #e2d0bb6c;
  --body-color: #f4e2d8;
  --button-color: #e7d3bd;
  --spical-color: #e2d0bb;
  --black-color: #000000;

  /* font */
  --first-font: "Noto Serif", serif;

  --Thin-font: 100;
  --ExtraLight-font: 200;
  --Light-font: 300;
  --Regular-font: 500;
  --Bold-font: 600;
  --ExtraBold-font: 800;
}

/*=============== BASE ===============*/

html {
  scroll-behavior: smooth !important;
  transition: 0.4s !important;
  -webkit-transition: 0.4s !important;
  -moz-transition: 0.4s !important;
  -ms-transition: 0.4s !important;
  -o-transition: 0.4s !important;
}

body {
  background: #f1e4d5 !important;
  /*fallbackforoldbrowsers*/
  background: -webkit-linear-gradient(to right, #f1e4d5, #f4e2d8) !important;
  /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(to right, #f1e4d5, #f4e2d8) !important;
  font-family: var(--first-font) !important;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  color: var(--three-color) !important;
}

img,
svg {
  max-width: 100% !important;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  /* background-color: var(--body-color); */
}

::-webkit-scrollbar-thumb {
  background-color: var(--spical-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}
